* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  font-family: Helvetica;
  padding: 1em 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

button {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  box-shadow: none;
  outline: none;
  border: none;
  background-color: #32abf1;
  color: white;
  transition: color 0.4s ease-in-out;

  &:active,
  &:hover {
    background-color: #08c;
  }

  &:active {
    padding-top: 0.6em;
    padding-bottom: 0.4em;
  }
}

#canvas,
#route {
  background-color: #fff;
  border-radius: 1em;
}

#route {
  margin-top: 1em;
  padding: 1em;
}
