* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  font-family: Helvetica;
  padding: 1em 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#canvas,
#route {
  background-color: #fff;
  border-radius: 1em;
}

#route {
  margin-top: 1em;
  padding: 1em;
}
